.banner-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

.title {
  text-align: center;
  margin-top: 0;
}
