.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: 1rem;
}

.navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.icon-bar {
  background-color: #fff;
  display: block;
  height: 0.25rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
}

.icon-bar:first-child {
  top: 0;
}

.icon-bar:last-child {
  bottom: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.navbar-nav.open {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;
}


